.card {
    border: 2px solid #3a2e85;
    box-shadow: 1px 1px 20px 0 #3a2e85;
    color: #ffffff;
    width: 200px;
}

.cardInput {
    position: relative;
    left: 20%;
}

.cardTitle {
    display: inline;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 1%;
}
.cardLine {
    width: 100%;
    color: #1f81dd;
    background-color: #1f81dd;
}
