.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 35% 65%;
  grid-template-areas:
    'nav nav nav nav'
    'empty title title counter';
  justify-items: center;
  background-color: #160773;
  color: #ffffff;
  letter-spacing: 1px;
}

.nav {
  grid-area: nav;
  justify-self: start;
}

.title {
  grid-area: title;
}

.counter {
  grid-area: counter;
  align-self: center;
  padding: 0.1em;
  background-color: #160773;
  font-size: 1.5em;
  font-weight: bold;
  border: 0.1em solid white;
  border-radius: 0.25em;
}
