.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  width: 100%;
  background-color: #160773;
  color: #ffffff;
  letter-spacing: 1px;
}

.title {
  grid-column-start: 2;
}
.counter {
  align-self: center;
  padding: 0.1em;
  background-color: #160773;
  font-size: 1.5em;
  font-weight: bold;
  border: 0.1em solid white;
  border-radius: 0.25em;
}
