.Header{
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: #160773;
    color: #ffffff;
    letter-spacing: 1px;
    vertical-align: center;
}
.Header h1{
    margin: auto;
}

