.card-body {
  overflow: hidden;
}

.card-text {
  margin: 9px;
  word-wrap: break-word;
}

.input-text {
  box-sizing: border-box;
  margin: 7px;
  border: none;
  font: inherit;
  resize: none;
  width: 206px;
}
